@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: url("/cursor.svg"), default;
}

body {
  color: #d4a373;
  font-family: "Dancing Script", cursive;
}

::selection {
  background: #d4a373;
  color: white;
}

canvas {
  width: 100%;
  height: 100%;
  background: #52475e;
  transition: background 0.3s ease;
}
::-webkit-scrollbar {
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
}

#top-deco {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

#container {
  width: 95%;
  border-bottom: 2px solid white;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding: 0.2rem;
}

a {
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 0.3rem;
  font-style: italic;
  font-family: "Dancing Script", cursive;
  color: #ffffff;
  cursor: url("/cursor.svg"), default;
}

#page-number {
  padding-top: 10px;
  font-family: "Dancing Script", cursive;
}
#carousel {
  position: absolute;
  z-index: 1;
  bottom: 0;
  font-size: 2rem;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 0;
}

.letter {
  margin-bottom: 0.5rem;
  transition: 0.3s ease;
  font-size: 3.5rem;
  text-transform: capitalize;
  width: 3rem;
  padding: 0 1rem;
  font-family: "Bebas Neue", sans-serif;
  -webkit-box-reflect: below -2.7rem linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
}

.letter:hover,
.books:hover {
  cursor: pointer;
  transform: scale(1.3);
  cursor: url("/cursor.svg"), default;
}

.quotes {
  font-size: 2.5rem;
  position: absolute;
  z-index: 1;
  width: 30rem;
  max-width: 100vw;
  font-family: "Dancing Script", cursive;
}

.author {
  font-size: 1.5rem;
}
/* books */
.quotes:nth-child(1) {
  left: 35vw;
  top: 25vh;
  width: 50rem;
}

/* quotes for B */
.quotes:nth-child(2) {
  left: 200vw;
  top: 20vh;
  width: 40rem;
}

/* quotes for O1 */
.quotes:nth-child(3) {
  left: 400vw;
  top: 10vh;
  width: 30rem;
}

/* quotes for O2 */
.quotes:nth-child(4) {
  left: 600vw;
  top: 10vh;
  width: 50rem;
}

/* quotes for k */
.quotes:nth-child(5) {
  left: 760vw;
  top: 50vh;
  width: 50rem;
}

/* quotes for end */
.quotes:nth-child(6) {
  left: 990vw;
  top: 40vh;
  width: 50rem;
}

.the-end {
  font-size: 8rem;
}

.title {
  font-size: 7rem;
  letter-spacing: 2rem;
  font-weight: 500;
}
#sparkle1 {
  position: absolute;
  margin-top: -140px;
  margin-left: 440px;
}
#sparkle2 {
  position: absolute;
  margin-top: -70px;
  margin-left: -30px;
}

#castle > svg,
#ufo > svg,
#bird > svg,
#magic > svg {
  width: 2rem;
  height: 2rem;
}
#castle {
  margin-top: -70px;
  margin-left: -18px;
}
#ufo {
  margin-top: -100px;
  margin-left: 15px;
}

#bird {
  margin-top: -90px;
  margin-left: -15px;
}

#magic {
  margin-top: -70px;
  margin-left: 15px;
}

.books {
  margin-top: 10px;
  transition: 0.3s ease;
  -webkit-box-reflect: below -4.3rem linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
}
.books > svg {
  width: 2.5rem;
  height: 2.5rem;
}

@media screen and (max-width: 768px) {
  .letter {
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
    padding: 0 0.4rem;
    -webkit-box-reflect: below -2.7rem linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
  }
  #castle > svg,
  #ufo > svg,
  #bird > svg,
  #magic > svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  #castle {
    margin-top: -70px;
    margin-left: -10px;
  }
  #ufo {
    margin-top: -90px;
  }

  #bird {
    margin-top: -87px;
  }

  #magic {
    margin-top: -70px;
  }
  .books {
    margin-top: 7px;
    transition: 0.3s ease;
    -webkit-box-reflect: below -5.5rem linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
  }
  .books > svg {
    width: 2rem;
    height: 2rem;
  }

  .title {
    font-size: 4rem;
    letter-spacing: 1rem;
  }

  .quotes {
    font-size: 2rem;
  }

  .author {
    font-size: 1rem;
  }

  .quotes:nth-child(1) {
    left: 10vw;
    width: 30rem;
  }

  #sparkle1 {
    margin-top: -160px;
    margin-left: 300px;
  }

  #sparkle2 {
    margin-top: -80px;
    margin-left: -23px;
  }
  #sparkle1 > svg,
  #sparkle2 > svg {
    width: 2rem;
    height: 2rem;
  }

  .quotes:nth-child(2) {
    left: 152vw;
    width: 25rem;
  }

  .quotes:nth-child(3) {
    left: 355vw;
    top: 12vh;
    width: 20rem;
  }

  .quotes:nth-child(4) {
    left: 560vw;
    top: 20vh;
  }
  .quotes:nth-child(5) {
    left: 755vw;
    top: 40vh;
  }
  .quotes:nth-child(6) {
    left: 970vw;
  }
  .the-end {
    font-size: 5rem;
  }
}
