@import url("https://fonts.googleapis.com/css2?family=Sono&display=swap");

@font-face {
  font-family: "bookFont";
  src: url("./assets/book-font.woff") format("woff");
}
html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  color: #b18057;
  font-family: "bookFont";
}

canvas {
  width: 100%;
  height: 100%;
  background: #d9d6ca;
  transition: background 0.3s ease;
  color: #b18057;
}
::-webkit-scrollbar {
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
}

#top-deco {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

#container {
  width: 95%;
  border-bottom: 2px solid white;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding: 0.2rem;
}

a {
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 0.3rem;
  font-style: italic;
  font-family: "bookFont";
  color: #ffffff;
}

#page-number {
  padding-top: 10px;
  font-family: "Sono", sans-serif;
}
#carousel {
  position: absolute;
  z-index: 1;
  bottom: 0;
  font-size: 2rem;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 0;
}

.letter {
  margin-bottom: 1rem;
  transition: 0.3s ease;
  font-size: 4rem;
  font-family: "Sono", sans-serif;
  text-transform: capitalize;
  font-weight: bold;
  width: 3rem;
  padding: 0 1rem;
  -webkit-box-reflect: below -3rem linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
}

.letter:hover,
.sparkles:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.quotes {
  font-size: 2.5rem;
  position: absolute;
  z-index: 1;
  width: 30rem;
  max-width: 100vw;
  font-family: "bookFont";
}

.title {
  font-size: 7rem;
  letter-spacing: 2rem;
  font-weight: 500;
}

.author {
  font-size: 1.5rem;
}

#castle {
  margin-top: -70px;
  margin-left: -15px;
}
#castle > svg,
#ufo > svg,
#bird > svg,
#magic > svg {
  width: 2.5rem;
  height: 2.5rem;
}
#ufo {
  margin-top: -100px;
  margin-left: 15px;
}

#bird {
  margin-top: -100px;
  margin-left: -15px;
}

#magic {
  margin-top: -67px;
  margin-left: 15px;
}

.sparkles {
  margin-top: 10px;
  transition: 0.3s ease;
  -webkit-box-reflect: below -4.6rem linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
}
.sparkles > svg {
  width: 3.5rem;
  height: 3.5rem;
}
